#top{
	#cover{
		background-image: url("http://www.lago-di-garda.org/imgs/slides/bagagli01.jpg");
		background-size: cover;
		background-position: right; 
		height:350px;
	}
}
.section{
	padding-top:1.3em;
	padding-bottom:1.3em;
}
:focus {outline:none;}

.signup-panel{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
  i{
    font-size: 30px;
    line-height: 50px;
    color: #999;
  }
  form{
    input, span{
    height: 50px;
  }
  
  }
  .welcome{
    font-size: 26px;
    text-align: center;
    margin-left: 0;
  }
  p{
    font-size: 13px;
    font-weight: 200;
    margin-left: 25%;
  }
  .button-container{
  	text-align:center;
  }
}